
.reveal {
	z-index: 1006;
    padding: 1rem;
    border: 1px solid #cacaca;
    background-color: #fefefe;
    border-radius: 5px;
    position: absolute;
    max-height: 1000px !important; 
    margin: 0 auto !important;
    overflow-y: auto;
}

.form-login {
	margin: 0 auto;

	input[type="text"], 
    input[type="password"], 
    input[type="email"] {
		font-size: 1.8rem;
		height: inherit;
        &:focus {
            border: 1px solid $color-main;
            @include box-shadow(0px 0px 1px, $color-main);
        }

	}

}

.field-input {
    width: 65%;
    margin: 0 auto;
}