// ==========================================================================
// Variables
// ==========================================================================

// Font Size
$h1-fontsize: 			48 !default;
$h2-fontsize: 			36 !default;
$h3-fontsize: 			30 !default;
$h4-fontsize: 			24 !default;
$h5-fontsize: 			18 !default;
$h6-fontsize: 			12 !default;

// Color
$color-main: 			#00746b !default;
$color-link-hover: 	#333 !default;
$color-gray: 			#A8A39D !default; 
$color-red:  			#DF151A !default;

// Form
$form-font-size: 		1.8rem !default;
$form-input-height: 	34px !default;