/**
 * Style Sheet for Lucky Door
 * version: 1.0
 * => last modified: 12.01.2016 by Sevice Technology Consultant
 * author: Sevice Technology Consultant Co., Ltd.
 */
.btn-login, .btn-signup {
  font-size: 2rem;
  padding: 0.35em 0.5em;
}

.btn-buy-now, .btn-view-detail {
  padding: 10px;
  color: #333;
  font-size: 1.5rem;
  width: 48%;
}

/* ==========================================================================
   Core
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'thaisans_nune' ,Arial, sans-serif;
  font-size: 62.5%;
  background-color: #F5F5F5;
}

body {
  font-size: 1.8em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  top: 0px !important;
}

main {
  flex: 1 0 auto;
}

a {
  color: #000;
}
a:hover {
  color: #00746b;
}
a:active, a:focus {
  color: #000;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.side-menu {
  font-size: 2rem;
  margin: 0.5em 0;
  overflow: hidden;
  *zoom: 1;
}
.side-menu li {
  border-bottom: 1px solid #D1D1D1;
}
.side-menu li:last-child {
  border-bottom: none;
}

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: .5rem 0;
}

h1 {
  font-size: 48px;
  /* IE */
  font-size: 4.8rem;
}

h2 {
  font-size: 36px;
  /* IE */
  font-size: 3.6rem;
}

h3 {
  font-size: 30px;
  /* IE */
  font-size: 3rem;
}

h4 {
  font-size: 24px;
  /* IE */
  font-size: 2.4rem;
}

h5 {
  font-size: 18px;
  /* IE */
  font-size: 1.8rem;
}

h6 {
  font-size: 12px;
  /* IE */
  font-size: 1.2rem;
}

bold {
  font-weight: bold;
}

small {
  font-size: 90%;
}

/* ==========================================================================
   Responsive
   ========================================================================== */
/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 1.4em;
  }
  body h1 {
    font-size: 2.0em;
  }
  body h2 {
    font-size: 1.8em;
  }
  body h3 {
    font-size: 1.4em;
  }
  body h4 {
    font-size: 1.2em;
  }
  body h5 {
    font-size: 1.0em;
  }

  small {
    font-size: 75%;
  }

  .vision-text h2 {
    text-align: center !important;
  }

  .product {
    margin-bottom: 20px !important;
  }

  .text-promotion {
    width: 100% !important;
    float: none !important;
    padding-top: 2.5em;
  }

  .collection-reverse {
    text-align: left !important;
  }
  .collection-reverse .divider-reverse {
    margin: 2.5em 0 .5em 0 !important;
  }

  .hr-title-1 {
    width: 200px !important;
  }

  .footer-copyright h5 {
    width: 275px !important;
    margin: 0 auto;
  }

  .footer-widget {
    font-size: 1.6rem;
  }

  .product-wrapper {
    height: 250px !important;
  }

  .table-cart {
    margin-bottom: 5em;
  }
}
/* Medium and up */
@media screen and (min-width: 40em) {
  .footer-widget {
    font-size: 1.8rem;
  }
}
/* Medium and down */
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 1.6em;
  }
  body h1 {
    font-size: 2.0em;
  }
  body h2 {
    font-size: 1.8em;
  }
  body h3 {
    font-size: 1.4em;
  }
  body h4 {
    font-size: 1.2em;
  }
  body h5 {
    font-size: 1.0em;
  }

  small {
    font-size: 75%;
  }

  .product-wrapper {
    height: 250px !important;
  }
}
/* Large and up */
/* Large only */
@media screen and (min-width: 320px) {
  .title-bar {
    display: block !important;
  }

  .sticky-container {
    display: none !important;
  }
}
@media screen and (min-width: 1135px) {
  .title-bar {
    display: none !important;
  }

  .sticky-container {
    display: block !important;
    z-index: 500;
  }
}
/* ==========================================================================
   Navigation
   ========================================================================== */
.nav {
  position: relative;
  background-image: url("../images/backgrounds/Nav.png");
  height: 75px;
  vertical-align: middle;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-box-shadow: 0px 0px 3px #000;
  -webkit-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}
.nav a {
  color: #fff;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
.nav a:hover {
  color: #262626;
}

.sticky.is-stuck.is-at-top {
  margin-top: 0 !important;
}

.top-bar-left {
  margin: 10px 0;
}

.top-bar-right {
  margin: 20px 0;
}
.top-bar-right .menu > li > a > i {
  margin-right: .9rem;
}
.top-bar-right input[type="search"] {
  font-size: 1.8rem;
  width: 196px;
  height: 34px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
.top-bar-right button {
  font-size: 1.2rem;
  padding: .89em 1em;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  background-color: #333;
}
.top-bar-right button:hover, .top-bar-right button:focus {
  background-color: #333;
  border-color: #333;
}

.brand {
  margin: 0;
  margin-right: 26px;
  font-size: 1.75em;
  letter-spacing: 1px;
}
.brand:hover {
  color: #FFF !important;
}
.brand img {
  width: 48px;
}

.title-bar {
  background-color: #00746b;
  text-align: center;
}
.title-bar .menu-icon {
  margin-top: .25em;
}
.title-bar .title-bar-title {
  font-size: 2.8rem;
  letter-spacing: 2px;
}

.close-button:focus {
  outline: none;
}

.off-canvas {
  background-color: transparent;
}

.off-canvas-list {
  font-size: 2rem;
}
.off-canvas-list h3 {
  color: #00746b;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: .25em;
}
.off-canvas-list li {
  padding: .75em 0;
  border-bottom: 1px solid #A8A39D;
}
.off-canvas-list li:first-child {
  padding-top: 0;
}
.off-canvas-list li:last-child {
  border-bottom: none;
}
.off-canvas-list li:hover {
  background-color: #00746b;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.off-canvas-list li:hover a {
  color: #FFF;
}
.off-canvas-list li:hover:first-child {
  background-color: transparent;
}
.off-canvas-list li a {
  display: block;
}

.reveal-login {
  border: 5px solid #00746b !important;
  -moz-box-shadow: 1px 1px 5px #333;
  -webkit-box-shadow: 1px 1px 5px #333;
  box-shadow: 1px 1px 5px #333;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.field-submit {
  margin: 15px 0;
  text-align: center;
}

.btn-login, .btn-signup {
  background-color: #00746b;
  margin-top: 15px;
  padding: 0 30px;
  color: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn-signup {
  background-color: #A8A39D;
}

.btn-forgot {
  text-decoration: underline;
}

.translation-links {
  position: absolute;
  overflow: hidden;
  display: none;
}
.translation-links li a {
  color: #333 !important;
}
.translation-links li a img {
  vertical-align: middle;
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
  top: 1rem;
}

.reveal {
  z-index: 1006;
  padding: 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  border-radius: 5px;
  position: absolute;
  max-height: 1000px !important;
  margin: 0 auto !important;
  overflow-y: auto;
}

.form-login {
  margin: 0 auto;
}
.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
  font-size: 1.8rem;
  height: inherit;
}
.form-login input[type="text"]:focus,
.form-login input[type="password"]:focus,
.form-login input[type="email"]:focus {
  border: 1px solid #00746b;
  -moz-box-shadow: 0px 0px 1px, #00746b;
  -webkit-box-shadow: 0px 0px 1px, #00746b;
  box-shadow: 0px 0px 1px, #00746b;
}

.field-input {
  width: 65%;
  margin: 0 auto;
}

.button:hover {
  background-color: #008e83;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  margin-top: 10vh;
}

.footer-copyright {
  overflow: hidden;
  *zoom: 1;
  background-color: #00746b;
  text-align: center;
}
.footer-copyright h5 {
  color: #fff;
}

.footer-copyright-2 {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
.footer-copyright-2 h5 {
  color: #00746b;
}

.footer-widget {
  margin: 15px 0;
}
.footer-widget li {
  margin: .278em 0;
}
.footer-widget li a {
  display: block;
  color: #333;
  text-indent: 5px;
}

.partner {
  margin: 15px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.pay-icon {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.pay-icon li {
  margin: 0 5px;
}

.home-adr {
  margin: 10px;
}
.home-adr .adr-1, .home-adr .adr-2 {
  margin: 10px 0;
}
.home-adr .adr-1 p, .home-adr .adr-2 p {
  line-height: 1.2;
}

.hide {
  display: none;
}

.breadcrumbs {
  margin: 0.5em 0;
}
.breadcrumbs li {
  font-size: 1em;
}
.breadcrumbs a {
  color: #00746b;
}

.pagination {
  margin: 3.5em 0 2em 0;
}
.pagination li {
  display: inline-block;
  font-size: 1em;
}
.pagination .current {
  background-color: #00746b;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.divider {
  border: 1px solid #00746b;
  width: 100px;
  margin: 2.5em 0 .5em 0;
}

.divider-2 {
  border: 1px solid #00746b;
  width: 100px;
  margin: 1em 0 .5em 0;
}

.divider-reverse {
  border: 1px solid #00746b;
  width: 100px;
  margin: 2.5em 0 .5em auto;
}

.title-home {
  text-align: center;
  padding: 1.111em 0;
}

.text-title-home {
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
}

.hr-title-1 {
  border: 1px solid #00746b;
}

.hr-title-2 {
  border: 1px solid #00746b;
}

.hr-width-0 {
  width: 100px;
}

.hr-width-1 {
  width: 200px;
}

.hr-width-2 {
  width: 400px;
}

.text-green {
  color: #00746b;
}

.text-red {
  color: #DF151A;
}

.text-blue {
  color: blue;
}

.text-yellow {
  color: yellow;
}

.order-badge {
  display: inline-block;
  font-size: 1em;
  width: 75px;
  margin: 0 auto;
  padding: .1em;
  min-width: 2.1em;
  text-align: center;
}
.order-badge.success {
  color: #FFF;
  background-color: #5da423;
}
.order-badge.secondary {
  color: #000;
  background-color: #E9E9E9;
}
.order-badge.primary {
  color: #FFF;
  background-color: #4078C0;
}
.order-badge.alert {
  color: #FFF;
  background-color: #C60F13;
}
.order-badge.warning {
  color: #FFF;
  background-color: #FFAE00;
}

.is-accordion-submenu-parent > a::after {
  border-color: #00746b transparent transparent !important;
}

.link {
  color: #00746b;
}
.link:hover {
  text-decoration: underline;
}

.image-center {
  display: block;
  max-width: 100%;
}

.ico-mid i {
  vertical-align: middle;
}

select {
  font-size: 1.8rem;
  height: 34px;
}
select option {
  font-size: 1.8rem;
}

blockquote cite span {
  font-style: italic;
}

textarea {
  font-size: 1.8rem;
}

.off-canvas-content {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #fefefe));
  background-image: -moz-linear-gradient(top, #f5f5f5, #fefefe);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #fefefe);
  background-image: linear-gradient(to bottom right, #f5f5f5, #fefefe);
}

/* ==========================================================================
   Custom Slider
   ========================================================================== */
.bx-wrapper {
  overflow: hidden;
}
.bx-wrapper .bx-viewport {
  left: 0 !important;
  border: none !important;
}

.bx-controls-direction {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* ==========================================================================
   Home Base Style
   ========================================================================== */
.row-feature,
.row-promotion,
.row-collection,
.bg-head-collection {
  margin-top: 1.8em;
  overflow: hidden;
  *zoom: 1;
}

/* ==========================================================================
    Shared Style
    ========================================================================== */
.btn-view-store {
  font-size: 3rem;
  border: 1px solid #333;
  padding: 5px 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-box-shadow: 0 0 1px rgba(0, 3, 51, 0.8);
  -webkit-box-shadow: 0 0 1px rgba(0, 3, 51, 0.8);
  box-shadow: 0 0 1px rgba(0, 3, 51, 0.8);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn-view-store:before {
  content: '';
  position: absolute;
  border: #333 solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: top, right, bottom, left;
  -o-transition-property: top, right, bottom, left;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.btn-view-store:hover:before, .btn-view-store:focus:before, .btn-view-store:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.btn-buy-now {
  background-color: #00746b;
  color: #FFF;
  border: 3px solid #F7F7F7;
}
.btn-buy-now:hover {
  color: #FFF !important;
}

.btn-view-detail {
  border: 1px solid #333;
}

/* ==========================================================================
    Vision
    ========================================================================== */
.wrap-vision {
  background-image: url("../images/vision/bg-vision.png");
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.vision-image {
  margin: 1.5em 0;
}

.vision-text {
  letter-spacing: 1px;
  margin: 1.5em 0 0 0;
  padding: 20px;
}
.vision-text h2 {
  font-weight: bold;
  margin-bottom: .625em;
}
.vision-text h2 span.green {
  color: #579D59;
  font-size: 1.2em;
}
.vision-text p {
  line-height: 1.7;
  text-indent: 1em;
  text-align: justify;
}

/* ==========================================================================
   Feature
   ========================================================================== */
.product {
  position: relative;
  margin: 1em 0;
  padding: 15px 10px;
  min-height: 495px;
  height: auto;
  text-align: center;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 300ms ease-in-out 0s;
}
.product:hover {
  box-shadow: 0px 0px 2px #00746b;
}
.product:hover .field-btn {
  display: inherit;
}
.product img {
  max-width: 100%;
  height: 270px;
}

.field-btn {
  margin: 25px 0 5px 0;
  padding: 5px 0;
  display: none;
}

.wrap-price-sale {
  margin-top: 1em;
}

.product-img {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.product-title {
  font-weight: bold;
  letter-spacing: 1px;
  color: #005b53;
}

.home-product-price {
  height: 25px;
}

.price-sale {
  color: #A8A39D;
  text-decoration: line-through;
}

.price-per-sale {
  background-color: #DF151A;
  color: #fff;
  padding: 2px;
}

/* ==========================================================================
   Promotion
   ========================================================================== */
.row-promotion {
  overflow: hidden;
  max-height: 247px;
  margin-bottom: 1.722em;
  overflow: hidden;
  *zoom: 1;
}

.wrapper-promotion {
  position: relative;
  width: 100%;
  min-height: 250px;
  padding-bottom: 1.111em 0;
  background-image: url("../images/promotion/promotion.png");
  background-repeat: no-repeat;
  background-position: 75% 60%;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}

.text-promotion {
  width: 35%;
  float: right;
  text-align: center;
  margin: 2.5em 0;
}
.text-promotion a {
  margin-top: 5px;
}
.text-promotion .text-title-home {
  margin-bottom: -5px;
}

.sup-title-promotion {
  margin: 0 0 10px 0;
  line-height: .4;
}

/* ==========================================================================
   Collection
   ========================================================================== */
.collection-wrapper-head {
  height: 10em;
  padding: 1.111em 0;
  color: #333;
  background-image: url("../images/backgrounds/bg-home-collection.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}

.collection-wrapper-content {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  min-height: 500px;
  background-image: url("../images/backgrounds/bg-home-collection.png");
  background-repeat: repeat;
}

.collection-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
}
.collection-list .collection-item-1, .collection-list .collection-item-2 {
  margin: .556em;
}
.collection-list .collection-item-img {
  overflow: hidden;
}
.collection-list .item-model {
  display: block;
  text-align: center;
  color: #555;
}

.collection-intro {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 0 1.111em;
}
.collection-intro .collection-title h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.collection-intro .collection-title h2 .sub-title-1 {
  font-size: .88em;
}
.collection-intro .collection-title h2 .sub-title-1 {
  color: #333;
  display: block;
  float: left;
  width: 100%;
  line-height: .5;
  margin-bottom: .556em;
}
.collection-intro .collection-title h2 .sub-title-2 {
  color: #333;
}
.collection-intro .collection-title p {
  line-height: 1.5;
}
.collection-intro .collection-more {
  font-size: 1.8rem;
  margin: .833em 0;
}
.collection-intro .collection-more a {
  font-size: 1.5em;
}

.collection-reverse {
  text-align: right;
}

.animation-element {
  opacity: 0;
  position: relative;
}
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -ms-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}
.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -ms-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px);
}
.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.btn-history-transfer, .btn-history-detail {
  color: #767069;
  border: 1px solid #c0bcb8;
  background: #e4e2e1;
  box-shadow: 2.5px 2.5px 1.25px #c0bcb8;
  text-shadow: 1px 1px #c0bcb8;
  font-weight: bold;
  padding: 0 5px;
  white-space: nowrap;
  border-radius: 2.5px;
}
.btn-history-transfer:hover, .btn-history-detail:hover {
  border: 1px solid #b4b0ab;
  background: #d8d6d3;
}

.btn-login:hover, .btn-signup:hover {
  color: #000;
}

.btn-cart-update {
  font-size: 1.8rem;
}

.btn-cart-clears {
  font-size: 1.8rem;
  background-color: #DF151A;
  float: right;
}

.shopping-noti {
  padding: 0 10px;
  color: #FFF;
  border-radius: 5px;
  background-color: #FF6B3E;
}

.footer-url {
  color: #FFF;
}
.footer-url:hover {
  color: #CCC;
}

.btn-upload {
  width: 100px;
  padding: 5px 0 5px 5px;
  cursor: pointer;
  background-color: #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.input-file-custom {
  display: none;
}

.pre-upload {
  width: 200px;
  height: 200px;
  border: 2px dashed #767676;
  padding: 5px;
}
