html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "TH Krub";
  src: url('../fonts/TH Krub.ttf?1159805896') format('truetype');
}
* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-family: "TH Krub";
  font-size: 20px;
}

body {
  background: #FFF;
}

#order_detail {
  font-family: "TH Krub";
}
#order_detail .mDiv {
  background: #d9d9d9;
  border: 1px solid #b3b3b3;
  border-bottom: 0px;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  clear: both;
}
#order_detail .mDiv .ftitle {
  padding: 6px;
  white-space: nowrap;
}
#order_detail .main-table-box {
  margin-bottom: 30px;
}
#order_detail .main-table-box .bDiv {
  background: #FFF;
  overflow: auto;
  position: relative;
}
#order_detail .main-table-box .bDiv table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv, #order_detail .main-table-box .bDiv table tfoot tr.hDiv {
  background: #e6e6e6;
  position: relative;
  border: 1px solid #b3b3b3;
  overflow: hidden;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv th, #order_detail .main-table-box .bDiv table tfoot tr.hDiv th {
  border: 1px solid #b3b3b3;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv th div, #order_detail .main-table-box .bDiv table tfoot tr.hDiv th div {
  font-weight: bold;
  padding: 5px;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv th div.text-left, #order_detail .main-table-box .bDiv table tfoot tr.hDiv th div.text-left {
  text-align: left;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv th div.text-center, #order_detail .main-table-box .bDiv table tfoot tr.hDiv th div.text-center {
  text-align: center;
}
#order_detail .main-table-box .bDiv table thead tr.hDiv th div.text-right, #order_detail .main-table-box .bDiv table tfoot tr.hDiv th div.text-right {
  text-align: right;
}
#order_detail .main-table-box .bDiv table tfoot tr.hDiv th {
  text-align: right;
}
#order_detail .main-table-box .bDiv table tfoot tr.hDiv .text-normal {
  text-align: left;
}
#order_detail .main-table-box .bDiv table tbody tr td {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  padding: 0;
  font-weight: normal;
  padding-bottom: 5px;
  padding: 5px;
}
#order_detail .main-table-box .bDiv table tbody tr td div {
  padding-bottom: 5px;
  padding: 5px;
}
#order_detail .main-table-box .bDiv table tbody tr td div.text-left {
  text-align: left;
}
#order_detail .main-table-box .bDiv table tbody tr td div.text-center {
  text-align: center;
}
#order_detail .main-table-box .bDiv table tbody tr td div.text-right {
  text-align: right;
}
#order_detail .main-table-box .bDiv table tbody tr .text-numeri {
  text-align: right;
}
#order_detail .main-table-box .bDiv table tbody tr.erow td {
  background: #f2f2f2;
}
#order_detail .main-table-box .form-div {
  border: 1px solid #b3b3b3;
  background: #FFF;
  position: relative;
}
#order_detail .main-table-box .form-div .form-field-box {
  padding: 5px 10px;
  margin-bottom: 5px;
  min-height: 32px;
}
#order_detail .main-table-box .form-div .form-field-box .form-header-box {
  padding-top: 7px;
  float: left;
  width: 200px;
}
#order_detail .main-table-box .form-div .form-field-box .form-header-box .required {
  color: red;
  font-weight: bold;
}
#order_detail .main-table-box .form-div .form-field-box .form-display-box {
  padding-top: 7px;
  float: left;
}
#order_detail .main-table-box .form-div .odd {
  background: #FFF;
}
#order_detail .main-table-box .form-div .even {
  background: #f2f2f2;
}
